FaceRecognition/.classpath
FaceRecognition/.project
FaceRecognition/.settings/org.eclipse.jdt.core.prefs
FaceRecognition/bin/Face$Candidate.class
FaceRecognition/bin/Face.class
FaceRecognition/bin/FaceDetiction.class
FaceRecognition/bin/FaceRecognition.class
FaceRecognition/bin/Group.class
FaceRecognition/bin/Init.class
FaceRecognition/bin/Person.class
FaceRecognition/bin/Test.class
FaceRecognition/bin/Test2.class
